<!DOCTYPE html>
<html>
    <head>

        <title>首页</title>
        <include file="./Public/HomeCommon/head.html" />
    </head>
    <body>

        <body>


        <div class="ui container">
            <include file="./Public/HomeCommon/nav.html" />

            <div class="ui grid">
                <div class="three wide column">312312</div>
                <div class="eight wide column">312321</div>
            </div>

        </div>

        </body>

    </body>
    <include file="./Public/Common/js.html" />
</html>
